html {
  background-color: #c9b5ab;
}

h1, h2 {
  color: #3f1622;
}

a {
  color: #8f2440;
  text-decoration: none;
}

.beet {
  font-family: "PT Sans", sans-serif;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

ol {
  list-style-type: none;
}

ul {
  list-style-type: circle;
}

.nutrish {
  font-weight: bold;
}

img,
[src$="images/beets.jpg"] {
  width: 85%;
}

li a {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.bundle {
  font-style: italic;
}

.weird {
  font-style: italic;
  font-size: 1.5rem;
}

.com {
  list-style-type: lower-greek;
}

.root {
  font-style: normal;
}

figcaption {
  text-align: center;
  font-family: "PT Serif";
  font-style: italic;
}
